<head>
  <%= javascript_include_tag('flipclock.js') %>
<%= stylesheet_link_tag 'flipclock' %>
<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Pacifico">
          <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:100">
          
</head>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyTpZNPUMuLrucwPAsdXvEDp1z0zuHXFA&callback=initMap">
    </script>
 <script type="text/javascript">(function () {
            if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
            if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
                var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>


<div class="first-page">
  <br>
  <h2 class="title_text">
    <span class="tangerine">Ishwarya</span> 
    <span class="pacifico">WE DS</span> 
    <span class="tangerine">Harish</span>
  </h2>

  <h2 class="wedding-date">
  <span class="tangerine"> Feb 6, 2017</span>
  </h2>



<div class="arrow bounce">
</div>


</div>
<div id="secondpage" class="second-page">


<div class="clock_row row">
    <div class="col s5  m12">
      <div class="clock_box card large z-depth-2">
      <span class="card-title roboto" style=" margin-left: 20px;font-size: 40px;">And yes we are counting time !! To Celebrate !! </span>
        <div class="card-content">
          <div class="clock_card clock"></div>
        </div>
      </div>
    </div>
</div>


  <div class="row">
        <div class="col s12 m15">
          <div class="card large z-depth-2">
          <span class="card-title roboto" style="margin-left: 20px;font-size: 40px;">Venue Details</span>
            <div class="card-content">
              <div class="roboto venue_details" style="float: left;">

                <p class="roboto" style="font-size: 35px;margin-top: 20px;"> SVV Thirumana Mandabam</p>
                <p class="roboto" > Opp. to New Bus Stand</p>
                <p> Krishnagiri - 635001 </p>
                <p> Tamil Nadu </p>
                <p>Ph: +91- 8870201935</p></br></br>
                <p style="font-size: 30px;font-weight: 300;"> Reception : 7 - 10 PM ( Feb 5, 2017 ) </p>
                <p style="font-size: 30px;font-weight: 300;"> Mugurtham : 6 - 7.30 AM ( Feb 6, 2017 ) </p>
              </div>
              <div style="margin-top: 20px;" id="map"></div>
            </div>
            <div class="card-action">
            <p class="roboto" style="font-size: 30px; float: left; margin: 0px;font-weight: 100;margin-right: 400px;margin-top: 14px;"> Dont miss our event !! <span>&emsp;</span>    Add to your calendars !!</p>
            <a class="tooltipped" data-tooltip="Google Calendar" target="_blank" href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20170205T123000Z/20170206T063000Z&location=Krishnagiri&text=Harish+and+Ishwarya+Wedding+Event&details=Wedding+Ceremony+is+going+to+happen+on+5th+and+6th+of+February+!!+At+SVV+Thirumana+Manadabam+!!+For+more+details+visit+ishwaryawedsharish.in"><img style="height: 60px; width:60px;"src="/assets/calendar-icon.png"></img></a>
            <button class="ics_button tooltipped" style="height: 60px; width: 60px; background: transparent; border: 0px;" data-tooltip="Download ICS File"><img style="height: inherit;width: inherit;" src="/assets/ics-original.png"></img></button>
            </div>
          </div>
        </div>
    </div>
  </div>





</div>

<div class="footer card" style="background: #49477f; width: 100%; height: 70px; padding-bottom: 0px; margin-bottom: 0px;margin-top: 0px;">

<p class="roboto" style=" font-size: 30px;   font-weight: 300; float: left; margin: 0px;width : 800px;margin-top: 10px; margin-left: 25px; height: 50px; color: white;"> Thanks for your wishes !! </p>
<div class="social_links">
<p class="roboto" style="float: left; color: white; font-size: 25px; font-weight: 300; margin-right: 90px; margin-top: 18px; margin-bottom: 0px;"> Follow Us on </p>
 <a target="_blank" href="https://plus.google.com/u/0/118430153421897115255"><img style="height: 60px; width: 60px;margin-top: 5px; background: #49477f;" src="/assets/gplus_logo.png" alt="G+" /></a><span>&emsp;&emsp;</span> 
 <a target="_blank" href="https://www.facebook.com/HarishDayalan"><img style="height: 60px; width: 60px;" src="/assets/fbook_icon.png" alt="FB" /></a>

</div>

</div>


