<head>
  <%= javascript_include_tag('flipclock.js') %>
<%= stylesheet_link_tag 'flipclock' %>
</head>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyTpZNPUMuLrucwPAsdXvEDp1z0zuHXFA&callback=initMap">
    </script>

<div class="mdl-layout mdl-js-layout">




<div class="first-page">

  <h2 class="title_text">
    <span class="tangerine">Ishwarya</span> 
    <span class="pacifico">WEDS</span> 
    <span class="tangerine">Harish</span>
  </h2>




<div class="quote-content">
  <h1>"If I could give you one thing in life, I would give you the ability to see yourself through my eyes, then you will know how special you are to me"</h1>
</div>

</div>




<div class="clock-space mdl-card mdl-shadow--2dp">

<div class="clock_card clock"></div>
</div>

  <div class="demo-card-event mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <div id="map"></div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Add to Calendar
    </a>
    <div class="mdl-layout-spacer"></div>
    <i class="material-icons">event</i>
  </div>
</div>


</div>
