<script src="http://code.responsivevoice.org/responsivevoice.js"></script>

<button  id="volume_up_button" class="sound_button btn-floating btn-large waves-effect waves-light blue tooltipped" data-position="top" data-delay="50" data-tooltip="Sound OFF">
	<i class="material-icons">
	volume_up
	</i>
</button>



<button  id="volume_down_button" style="display:none;" class="sound_button btn-floating btn-large waves-effect waves-light blue tooltipped" data-position="top" data-delay="50" data-tooltip="Sound ON">
	<i class="material-icons">
	volume_off
	</i>
</button>

<div id="modal1" class="modal">
    <div class="modal-content">
      <p style="font-size:4vw margin-bottom:0px;"> Use the sound buttom below to read the story for U !!</p>
    </div>
  </div>

<div class="main_container">

<div class="home section_page" data-section-name="1">
	<p class="roboto" style="font-weight: 300; font-size: 4vw; text-align: center; color: white;">Small Story on How we Met</p>
	<div class="chat_male">
		<img class="avator float_action" src="/assets/male_character.png">
		<div class="male_chat_box card-panel teal">			
			<p class="content"><span class="white-text">It all started in College,we become friends special thanks to computer science lab ;) …. She was a good friend back then....</span></p>
		</div>
	</div>
	<div class="chat_female">
		<div class="female_chat_box card-panel teal float_action">
			<p class="content"><span class="white-text"> Yes !! Sharing our likes and dislikes.
			Always making fun of each other. Preparing for exams together ( sometimes ). :)….</span></p>
		</div>
		<img class="avator" src="/assets/female_character.jpg">
		
	</div>
</div>

<div class="page1 section_page" data-section-name="2">
	<div class="chat_male">
		<img class="avator float_action" src="/assets/male_character.png">
		<div class="male_chat_box card-panel teal">
			<p class="content"><span class="white-text">As the Time went by, our bond become inseparable and made each of us had a vision travelling together for a longer time.</span></p>
		</div>
	</div>
	<div class="chat_female">
		<div class="female_chat_box card-panel teal float_action">
			<p class="content"><span class="white-text">Fought through the circumstances and finally we end up on the beautiful occasion called marriage. <3 </span> </p>
		</div>
		<img class="avator" src="/assets/female_character.jpg">
		
	</div>
</div>
<div class="page2 section_page" data-section-name="3">
<p class="roboto" style="font-weight: 300; font-size: 4vw; text-align: center; color: white;"> Special things about her !!! </p> 
	<div class="chat_male">
		<img class="avator float_action" src="/assets/male_character.png">
		<div class="male_chat_box card-panel teal">
			<p class="content"><span class="white-text">Ishhwarya, never met a girl who can impact me so much… She is very much friendly and loveable in nature..Very much Practical and also StraightForward in talking… Very best thing about her is most of her decisions are accurate and she is not selfish on it… 

And to be honest she is powerful and independent … And how can i forget this !! she is very beautiful.. !!! :)

Time with her is priceless for me !! She is my first chance for understanding a girl’s world completely..My vision on life has changed drastically by her and she is a good motivator when i am doing something… that cheers me up !! A thankful and a beautiful welcome to you in my life !! </span></p>
		</div>
	</div>
</div>
<div class="page3 section_page" data-section-name="4">
<p class="roboto" style="font-weight: 300; font-size: 4vw; text-align: center; color: white;">She got something to say about me !!</p> 
	<div class="page4 chat_female">
		<div class="female_chat_box card-panel teal float_action">
			<p class="ishu content"><span class="white-text">HarIsh... That is him ! Who is almost contained of me in him as equal proportion within these 3 years..

If you ask me to define him.. I would say Simplicity.. Affectionate.. Caring.. Innocent(at times!).. and a very very positive person.

Sometimes you can never resist some people that they would be "anything" for you. Harish was one such person I met in my life for the first time.

A wonder stuck fact about him is that He personifies 'hardwork' and keeps moving towards his dream no matter how much ever obstacles may come.

In these 3 years, I have learnt so many important lessons of life from him and because of him. I believe he can be the only person who could tolerate all my tantrums!!!  ;) Destiny has bonded us together so soon that with great aspirations and colourful dreams we are going to start our new chapter of life together with all the blessings of our parents and family.

Come join us and bless us in our auspicious day of life....</span></p>
		</div>
		<img class="avator" src="/assets/female_character.jpg">
		
	</div>
</div>


</div>
