// Place all the styles related to the wishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wishes-header {
	height:60px ;
	width: 70%;
	background-color:white;
	z-index : 1;
	border-radius: 2px;
	margin-left: 200px;
	margin-top : 70px;
}

.float {
	float :left;
}

.wishes-container {
	height: 400px;
	width : 70%;
	background-color:transparent;
	z-index : 1;
	border-radius: 2px;
	margin-left: 200px;
	margin-top: 10px;
	border-style: solid;
	border-color : white;
	
}

#post_button {
	position:absolute;
    top: 18.8%;
    left: 83.4%;
}

.roboto {
  font-family: Roboto, serif;
}


.spinner-object {
	top : 70%;
	left : 50%;
	position : relative;
}
